#main-head{
  background-color: #009999 !important;
  border-bottom: solid;
  border-bottom-width: 1px;
  padding: 1%;
  font-family: 'Montserrat', sans-serif;
}

#time-screen{


}

#settings-screen{

}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}

.modal-bg{
  display: none;

  width: 100%; /* Full width */
  height: 100%; /* Full height */
}

.modal{
  background-color: rgba(0,0,0,0.4);
  padding-top: 150px;
}

.modal-content{
  padding: 20px;
}
