#main-head{
  background-color: #009999 !important;
  border-bottom: solid;
  border-bottom-width: 1px;
  padding: 1%;
}

#time-screen{


}

#settings-screen{

}

.parent {
    display: table;
    table-layout: fixed;
}

.child {
    display:table-cell;
    vertical-align:middle;
    text-align:center;
}
